__pycache__/

target/
pom.xml.tag
pom.xml.releaseBackup
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar

.idea/
*.iml
*.ipr
*.iws

local.conf
