# Python
__pycache__/

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar

# IDEA
.idea/
*.iml
*.ipr
*.iws

# Paddle
local.conf
